* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.home,
.academics,
.events,
.sign-up {
  background-color: #6b6b6b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.academics {
  width: '100vw';
  height: '70vh';
  background-image: url('images/library-view.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  font-size: 50px;
  color: #fff;
}

.events {
  width: '100vw';
  height: '100vh';
  background-image: url('images/building-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  font-size: 50px;
  color: #fff;

}

.sign-up {
  width: '100vw';
  height: '100vh';
  background-image: url('images/walking-on-campus.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}